/*CSS Style for my Google Home Page Project */

.nav-header1 {
    display: flex;
    font-size: 12px;
    background-color: cadetblue;
    flex: 1;
}

.nav-header2 {
    display: flex;
    justify-content: flex-end; 
    align-content: flex-end;   
}

.about {
    flex: 1;
    color: black;
    flex-basis: 2px;
    border: 2px black soli;
    width: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-family: arial,sans-serif;
}

.store {
    flex: 1;
    border: 2px black solid;
}

.gmail {
    flex:"";
    border: 2px black solid;
}

.images {
    flex:"";
    border: 2px black solid;
    flex-basis: 100px;
}

.google-apps {

}

.sign-in-button {
    flex:"";
    background-color: #1a73e8;
    justify-content: flex-end;
    border: 0px black solid;
    text-align: center;
}

button {
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin:
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: center;
    height: 300px;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: center;
    margin-top: 10px;
    border: none;
}