/*CSS Style for my Google Home Page Project */

body, html {
    height: 100%;
}

.mainflex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headmain {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px;
}

.headsecond {
    display: inline-block;
    flex-grow: 1;
}

.headright-buttons {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    align-items: center;
}

.about:hover, .store:hover, .gmail:hover, .images:hover {
    text-decoration: underline;
}

.about, .store {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    font-family: arial,sans-serif;
}

.gmail, .images {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 13px;
}

.google-apps {
    margin-right: 0px;
    text-align: center;
}

/*.google-happss:hover {
    background: red;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}*/

.sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    font-family: Roboto;
    margin-left: 20px;
}

.sign-in-button:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: center;
    height: 300px;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-radius: 24px;
    margin-top: 30px;
}

.searchbar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: none;
}

.searchbar {
    border: none;
    outline: none;
    display: flex;
    margin-bottom: 10px;
    font: 16px arial, sans-serif;
}

.searchbar-container2:hover {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.125);

}

.searchbar-container2 {
    display: flex;
    flex: "";
    justify-content: "";
    background: #fff;
    border: 1px #dfe1e5 solid;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    margin: auto;
}

.searchlogo {
    display: block;
    height: 25%;
    width: 25%;
    margin: auto;
    margin-right: 10px;
    size: 10%;
}

.middle-buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-family: arial, sans-serif;
    color: #3c4043;
    margin-top: 20px;
    padding: 10px 15px;
}

.middle-buttons:hover {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.125);
}

/*.bottom-space {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 600px;
}*/

.bottom-midflex {
    flex-grow: 1;
    background: red;
    box-sizing: border-box;
}

.footer {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.bottom-mainflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-leftflex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bottom-middleflex {
        display: flex;
        justify-content: space-between;
}

.advert {
    display: block;
    padding: 15px;
}

.leaf {
    height: 15px;
    width: 15px;
    display: block;
    padding: 15px;
}