/*CSS Style for my Google Home Page Project */

.mainflex {
    display: flex;
    flex-direction: column;
}

.headmain {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px;
}

.headsecond {
    display: inline-block;
    flex-grow: 1;
}

.headright-buttons {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    align-items: center;
}

.about:hover, .store:hover, .gmail:hover, .images:hover {
    text-decoration: underline;
}

.about, .store {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    font-family: arial,sans-serif;
}

.gmail, .images {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    margin-right: 20px;
}

.google-apps {
    margin-right: 20px;
}

.sign-in-button {
    background-color: #1a73e8;
    justify-content: flex-end;
    border: 0px black solid;
    text-align: center;
}

button {
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: center;
    height: 300px;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-radius: 24px;
    margin-top: 30px;
}

.searchbar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: none;
}

.searchbar {
    border: none;
    outline: none;
    display: flex;
    margin-bottom: 10px;
    font: 16px arial, sans-serif;
}

.test1:hover {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.125);

}

input {
    border: "";
    display: flex;
    flex: "";
}

.searchbar-container2 {
    display: flex;
    flex: "";
    justify-content: "";
    background: #fff;
    border: 1px #dfe1e5 solid;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    margin: auto;
}

.searchlogo {
    display: block;
    height: 25%;
    width: 25%;
    margin: auto;
    margin-right: 10px;
    size: 10%;
}